@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Barlow", sans-serif;
  user-select: none;
}

.auth {
  background: linear-gradient(180deg, #FFFFFF 0%, #AFA3FF 100%);
}

.auth-body {
  background: linear-gradient(180deg, #F7F7F7 0%, #F0F0F0 100%);
}

.create-task-btn {
  background: linear-gradient(180deg, #4C38C2 0%, #2F2188 100%);
}

.column-add-btn {
  background: linear-gradient(180deg, #3A3A3A 0%, #202020 100%);
}